{% load static %}
{% load cart_template_tag %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TLY_CART</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet">

		<link href="{% static  'themes/css/bootstrappage.css' %}" rel="stylesheet"/>

		<!-- global styles -->
		<link href="{% static  'themes/css/flexslider.css' %}" rel="stylesheet"/>
		<link href="{% static  'themes/css/main.css' %}" rel="stylesheet"/>

		<!-- scripts -->
		<script src="{% static  'themes/js/jquery-1.7.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static  'themes/js/superfish.js' %}"></script>
		<script src="{% static  'themes/js/jquery.scrolltotop.js' %}"></script>
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>


    <body>
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<form action="{% url 'search' %}" method="get" class="search_form">
						<input type="search" class="input-block-level search-query" Placeholder="eg. T-sirt" name="q">
					</form>
					{% comment %} <form action="{% url 'search' %}" method="get">
                   		 	 <input type="search" placeholder="Search.." name="q">
                   			<button class="btn btn-outline-success" type="submit">Search</button>
               			</form> {% endcomment %}
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">
							<li><a href="{% url 'cart' %}">My Account</a></li>

						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<a href="{% url 'home' %}" class="logo pull-left"><h2 >TLY CART</h2></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="/">ALL PRODUCT</a>
								<ul>
									{% for i in ct %}
									<li><a href="#">{{i.category_name}}</a></li>
									{% endfor %}

								</ul>
							</li>
							<li><a href="{% url 'cart' %}">Your Cart {{ request.user | cart_item_count }}</a></li>
							</li>
							{% if user.is_authenticated %}
							<li><a href="#">Welcome {{user.username}}</a></li>
							<li><a href="{% url 'user_logout' %}">Logout</a>
							{% if user.is_superuser %}
							<li><a class="nav-link scrollto active" href="{% url 'add_products' %}">Add Product</a></li>
							{% endif %}
							{% else %}
							<li><a href="{% url 'user_register' %}">Register</a></li>
							<li><a href="{% url 'user_login' %}">Login</a></li>
							{% endif %}
						</ul>
					</nav>
				</div>
			</section>
			{% block content %}
			{% endblock %}
			<section class="our_client">
				<h4 class="title"><span class="text">Manufactures</span></h4>
				<div class="row">
					<div class="span2">
						<a href="#"><img alt="" src="{% static  'themes/images/clients/14.png'  %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static  'themes/images/clients/35.png'  %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static  'themes/images/clients/1.png'  %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static  'themes/images/clients/2.png'  %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static  'themes/images/clients/3.png'  %}"></a>
					</div>
					<div class="span2">
						<a href="#"><img alt="" src="{% static  'themes/images/clients/4.png'  %}"></a>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="{% url 'home' %}">Homepage</a></li>
							<li><a href="{% url 'checkout'%}">Checkout</a></li>
							<li><a href="https://www.facebook.com/wondring.psycho">Contac Us</a></li>
							<li><a href="{% url 'cart' %}">Your Cart</a></li>
							<li><a href="{% url 'user_register'%}">Login</a></li>
						</ul>
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="{% url 'cart' %}">My Account</a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
							<li><a href="#"></a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{% static  'themes/images/logo.png'  %}" class="site_logo" alt=""></p>
						<p>Whoever said that money can't buy happiness simply didn't know where to go shoping </p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>
				</div>
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="{% static  'themes/js/common.js' %}"></script>
		<script src="{% static  'themes/js/jquery.flexslider-min.js' %}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>