{% extends 'base.html' %}
{% load static %}
{% block content %}
			<section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="{% static 'themes/images/carousel/banner-1.jpg' %}" alt="" />
						</li>
						<li>
							<img src="{% static 'themes/images/carousel/banner-2.jpg' %}" alt="" />
							<div class="intro">
								<h1>Mid season sale</h1>
								<p><span>Up to 50% Off</span></p>
								<p><span>On selected items online and in stores</span></p>
							</div>
						</li>
					</ul>
				</div>			
			</section>
			<section class="header_text">
				Whoever said that money can't buy happiness simply didn't know where to go shoping 
				<br/>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Feature <strong>Products</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">
												{% for i in pr %}
												<li class="span3">

													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="#"><img src=" {{i.img.url}} " alt="" style="width:300;height:300px" /></a></p>
														<a href="" class="title">{{i.name}}</a><br/>
														<a href="" class="category">{{i.desc|truncatewords:3}}</a>
														<p class="price">RS: {{i.price}}</p>
														{% if user.is_authenticated %}
														<a href="{% url 'product_desc' i.pk %}" class="btn btn-light" type="button">Detail</a>
														{% else %}
														<a href="{% url 'user_login'  %}" class="btn btn-light" type="button">log in</a>
														{% endif %}
													</div>


												</li>
												{% endfor %}
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
						</div>
						<div class="row feature_box">						
							<div class="span4">
								<div class="service">
									<div class="responsive">	
										<img src="{% static  'themes/images/feature_img_2.png' %}" alt="" />
										<h4>MODERN <strong>DESIGN</strong></h4>
										<p></p>									
									</div>
								</div>
							</div>
							<div class="span4">	
								<div class="service">
									<div class="customize">			
										<img src="{% static  'themes/images/feature_img_1.png' %}" alt="" />
										<h4>FREE <strong>SHIPPING</strong></h4>
										<p></p>
									</div>
								</div>
							</div>
							<div class="span4">
								<div class="service">
									<div class="support">	
										<img src="{% static  'themes/images/feature_img_3.png' %}" alt="" />
										<h4>24/7 LIVE <strong>SUPPORT</strong></h4>
										<p></p>
									</div>
								</div>
							</div>	
						</div>		
					</div>				
				</div>
			</section>
{% endblock %}
